@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="panel">
    <br />
    <h1 style="text-align:center;">
        @ViewBag.Title.
    </h1>
    <h2 class="error">Error al procesar la solicitud.</h2>
    <br />
</div>

