@{
    ViewBag.Title = "Administrador";
}

<h2>Administrador</h2>

<hr />
<ul class="nav nav-pills nav-justified">
    <li data-slide-to="0">@Html.ActionLink("Blog", "Index", "Blog")</li>
    <li data-slide-to="1">@Html.ActionLink("Blogger", "Index", "Blogger")</li>
</ul>
<hr />
<ul class="nav nav-pills nav-justified">
    <li data-slide-to="0">@Html.ActionLink("Entradas", "Index", "Entradas")</li>
    <li data-slide-to="1">@Html.ActionLink("Blogger", "Index", "Blogger")</li>
</ul>
<hr />
