@model JABlog.Models.Comentario

@{
    Page.id = "HomeComment";
}


<div id="comments" class="container">
	<br />
    <div class="panel">
        <br />
        <h1>
            @ViewBag.Titulo
        </h1>
        <br />
    </div>
    <br />
    <article id="articulo2">
        @ViewBag.contenido
    </article> <br />
    <br /> <br />
    <div class="timeline-footer">
        <a class="btn btn-blog pull-right marginBottom10" title="11 hours ago via Twitter">Posteado: <em>  @ViewBag.fecha </em></a> 
        <div class="fb-like" data-href="http://localhost:1726/Home/Comment/@ViewBag.id" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
    </div>
</div>
<br />
<legend>Comentarios</legend>
<div class='row'>
     <div class="col-xs-6 col-sm-6 col-md-7">
        <div class="fb-comments" data-href="http://localhost:1726/Home/Comment/@ViewBag.id" data-numposts="5" data-colorscheme="light"></div>
    </div>
    
</div>
<br />
