@{
    ViewBag.Title = "Error de inicio de sesión";
}
<div class="panel">
    <br />
    <h1 style="text-align:center;">
        @ViewBag.Title.
    </h1>
    <h2>El inicio de sesión con el servicio no se ha llevado a cabo correctamente.</h2>
    <br />
</div>
